[package]
name = "bff-gui"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true

[dependencies]
bff = { path = "../bff" }
clap = { version = "4.2.4", features = ["derive"] }
derive_more = "0.99.17"
eframe = "0.23.0"
egui = "0.23.0"
egui_extras = { version = "0.23.0", features = [
    "image",
], default-features = false }
hound = "3.5.1"
image = { version = "0.24.7", features = [
    "dds",
    "png",
], default-features = false }
itertools = "0.12.0"
rfd = { version = "0.12.0", features = ["file-handle-inner"] }
rodio = { version = "0.17.1", features = ["wav"], default-features = false }
serde = "1.0.188"
serde_json = "1.0.107"
shadow-rs = { version = "0.26.0", optional = true }
three-d = { version = "0.16.1", default-features = false }
three-d-asset = "0.6.0"

[target.'cfg(target_os = "windows")'.dependencies]
winreg = "0.52.0"
windows = { version = "0.52.0", features = ["Win32_UI_Shell"], default-features = false }

[target.'cfg(target_os = "windows")'.build-dependencies]
winres = "0.1.12"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { version = "1.33.0", features = ["rt-multi-thread", "time"] }

# https://github.com/rust-lang/cargo/issues/1197
[target.'cfg(target_arch = "wasm32")'.dependencies]
wasm-bindgen-futures = "0.4"
three-d = { version = "0.16.1", default-features = false, features = [
    "egui_glow",
] }
eframe = { version = "0.23.0", features = ["persistence"] }
async-std = "1.12.0"

[lints]
workspace = true
