.explorer {
  width: 40%;
  resize: horizontal;
}

.resource-list {
  /* display: flex; */
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  height: calc(100vh - 3.4em);
  /* padding-top: 1.4em; */
  /* overflow-y: scroll; */
}

.resource {
  width: 100%;
  white-space: nowrap;
  padding-left: 1em;
}

.resource:focus {
  background-color: var(--hover);
}

.resource-unimpl {
  color: var(--error);
}

.resource-realname {
  margin-left: 1em;
  color: var(--dark-font);
}

.explorer-sort {
  width: calc(40% - 0.95rem);
}

.explorer-sort-arrow {
  text-align: right;
  font-size: 0.8em;
}
